<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width,
                                   user-scalable=0,
                                   minimum-scale=1.0,
                                   maximum-scale=1.0" />
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Cap-pow!</title>
</head>

<style>
    body {
        padding: 0px;
        margin: 0px;
    }

    .players {
        z-index: 5;
        position: absolute;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
        text-align: right;
        font-size: 1.5em;
        font-family: inherit;
    }

    .score {
        z-index: 5;
        position: absolute;
        padding-top: 10px;
        padding-left: 10px;
        left: 0;
        text-align: left;
        font-size: 1.5em;
        font-family: inherit;
    }
</style>

<body>
    <!--The current player count displayed inside this span will be changed
        by the javascript when a player connects or disconnects-->
    <span id="players" class="players"></span>
    <span id="score" class="score"></span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
    <script src='build/all.min.js'></script>
</body>

</html>
