<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="icon" href="../images/logo.ico">

    <title>Cap-pow!</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">
                <br><br><br>
                <div class="logo">
                    <img src="../css/images/logo.png" height="350" width="350"/>
                </div>

                <br>

                <div class="inner cover">
                    <!-- Change each link to /login, /signup, /game, respectively -->
                    <a href="/login" class="btn btn-lg btn-default">Log in!</a><br>
                    <a href="/signup" class="btn btn-lg btn-default">Register!</a><br>
                    <a href="/game" class="btn btn-lg btn-default">Play as guest!</a>
                    <br>
                </div>

            </div>

        </div>

    </div>

</body>

</html>
