<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! Lobby</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-list-ul"></span> Lobby</h1>
        </div>

        <div class="row">
            <!-- GAME ROOMS LIST -->

            <div class="col-sm-8 text-center">
                <!-- IF WE WERE DOING EJS HERE -->
                <table class="table table-hover table-responsive">
                    <thead>
                        <th align="center">Room Name</th>
                        <th align="center"># Players</th>
                    </thead>
                    <tbody id="rooms">
                        <% if (rooms) { %>
                            <% for (var i = 0; i < rooms.length; i++) { %>
                                <tr class="clickable-row" data-url="/room/<%= rooms[i].name %>">
                                    <td><%= rooms[i].name %></td>
                                    <td><%= rooms[i].players %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
                <hr>
                <a href="/lobby" style="color: black"> <span class="fa fa-refresh"></span> Refresh</a>
            </div>

            <br>

            <div class="col-sm-4 text-center">
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form action="/lobby" method="post">
                    <label>Create your own</label>
                    <input type="text" class="form-control" name="roomname">
                    <br>
                    <button type="submit" class="btn btn-warning btn-md">Create Room</button>
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4">
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <footer class="fa fa-blind"> Cap-pow 2016</footer>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            setInterval(function () {
                $.ajax({
                    url: "http://localhost:8080/lobby/data",
                    dataType: "json",
                    cache: false,
                    timeout: 5000,
                    success: function(rooms) {
                        var str = "";

                        for (var i = 0; i < rooms.length; i++) {
                            str += "<tr>";
                            str += "<td>" + rooms[i].name + "</td>";
                            str += "<td>" + rooms[i].players + "</td>";
                            str += "</tr>";
                        }

                        $("#rooms").html(str);

                        for (var i = 1; i < rooms.length + 1; i++) {
                            $("tr").eq(i).addClass("clickable-row")
                                .attr("data-url", "/room/" + rooms[i - 1].name);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("error " + textStatus + " " + errorThrown);
                    }
                });
            }, 15000);

            $(".clickable-row").css('cursor', 'pointer').click(function () {
                sessionStorage.setItem("roomName", $(this).data("url").substring(6));
                window.document.location = $(this).data("url");
            });
        });

        $(document).ajaxSuccess(function () {
            $(".clickable-row").css('cursor', 'pointer').click(function () {
                sessionStorage.setItem("roomName", $(this).data("url").substring(6));
                window.document.location = $(this).data("url");
            });
        });
    </script>
</body>

</html>
