<!DOCTYPE HTML>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }

    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Lobby</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <!-- GAME ROOMS LIST -->
        <script>
            $(document).ready(function() {
                $("#refresh").click(function() {
                    // The variable that makes Ajax possible!
                    var ajaxRequest;

                    try {
                        // Opera 8.0+, Firefox, Safari
                        ajaxRequest = new XMLHttpRequest();
                    } catch (e) {
                        // Internet Explorer Browsers
                        try {
                            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
                        } catch (e) {
                            try {
                                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
                            } catch (e) {
                                // Something went wrong
                                alert("Your browser broke!");
                                return false;
                            }
                        }
                    }

                    ajaxRequest.open("GET", "http://localhost:8080/rooms", true);
                });

                //$(".room").click(function (i) {

                //});
            });

        </script>
        <div class="row">
            <div class="col-md-12 text-center" id="ajaxDiv">
                <a href="/lobby" class="btn btn-default btn-sm">Refresh</a>

                <br>
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form action="/lobby" method="post">
                    <label>Create your own</label>
                    <input type="text" class="form-control" name="roomname">
                    <button type="submit" class="btn btn-warning btn-lg">Create Room</button>
                </form>

                <h4>The rooms will display here.</h4>

                <!-- IF WE WERE DOING EJS HERE -->
                <ul>
                    <% for (var i = 0; i < rooms.length; i++) { %>
                        <li>
                            <p class="room"><%= rooms[i].name %></p>: <%= rooms[i].players %> <i>players</i>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
