<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! Lobby</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>

    <!--- FAVICON -->
    <link rel="shortcut icon" href="../favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="../favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../favicons/manifest.json">
    <link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="../favicons/mstile-144x144.png">
    <meta name="theme-color" content="#21bf73">
</head>

<body>
    <div class="container" ng-app="lobby">
        <div id="logo">
            <a href="/"><img src="../images/cap-pow.png" /></a>
        </div>
        <div class="page-header text-center">
            <h1 style="color:white"><span class="fa fa-list-ul"></span> Lobby</h1>
        </div>

        <div class="row" ng-controller="rooms">
            <!-- GAME ROOMS LIST -->
            <div class="col-sm-8 text-center">
                <table class="table table-hover">
                    <thead>
                        <th>Room Name</th>
                        <th>Room Password</th>
                        <th># Players</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="room in rooms | orderBy: 'players': true"
                            ng-show="room.players < 4;"
                            
                            ng-href="/room/{{ room.name }}"
                            style="cursor: pointer; cursor: hand;">
                                <td>{{ room.name }}</td>
                                <td>
                                    <form class="form-signin" ng-submit='loadRoom(room, this);'>
                                        <input type="password" id="inputPassword" name="joinPwd" class="form-control" placeholder="Password" required>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="fa fa-sign-in"></span> Join room</button>
                                    </form>
                                </td>
                                <td>{{ room.players }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <a href="/lobby" style="color: white"> <span class="fa fa-refresh"></span> Refresh</a>
            </div>

            <br>

            <div class="col-sm-4 text-center">
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form id="roomform" action="/lobby" method="post">
                    <label style="color:white">Make your own room!</label>
                    <input type="text" class="form-control" name="roomname" placeholder="Room Name" style="color: darksalmon">
                    <br>
                    <span style="color: aliceblue">Points to win: <span id="val" value="50"></span>
                    <br>
                    <span style="color: aliceblue">10</span>
                    <input id="points" class="form-control" type="text" name="winPoints">
                    <span style="color: aliceblue">100</span>
                    <br>
                    <input type="text" class="form-control" name="password" placeholder="Password" style="color: darksalmon">
                    <br>
                    <br>
                    <button id="create" type="submit" class="btn btn-md">Create Room</button>
                </form>

                <hr>

                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container" style="padding-top: 1cm; padding-bottom: 2cm">
            <div class="row">
                <div class="span12 text-center">
                    <p style="color:white"><span class="fa fa-copyright"></span>&copy; Cap-pow 2016</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var app = angular.module("lobby", []);

        app.controller("rooms", function($scope, $http, $timeout, $window) {
            //var timeout;
            
            $scope.ajax = function() {
                $http.get($window.location.href + "/data").then(function(rooms) {
                    $scope.rooms = rooms.data;
                });
                
                //timeout = $timeout($scope.ajax, 2000); //clearTimeout
            }

            $scope.ajax();

            $scope.loadRoom = function(room, form) {
                console.log("Room password is "+room.password);
                console.log("You entered "+document.getElementById('inputPassword').value);
                console.log("You entered "+form.joinPwd.value);
                if ((form === undefined && !room.password) || (form !== undefined && form.joinPwd && (room.password === form.joinPwd.value))) {
                    console.log("Correct room password!")
                    $http.put("/room/" + room.name).then(angular.noop);

                    sessionStorage.setItem("roomName", room.name);

                    $window.location.href = "/room/" + room.name;
                }
            }
        });
    </script>
    <script>
        $("#points").slider({
            min: 10,
            max: 100,
            value: 50,
            step: 10,
            tooltip: 'hide'
        });

        $("#points").on("slide", function(slideEvt) {
	        $("#val").text(slideEvt.value);
        });
    </script>
</body>

</html>
