<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! Lobby</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="icon" href="../images/logo.ico">
</head>

<body>
    <div class="container" ng-app="lobby">
        <div id="logo">
            <a href="/"><img src="../images/cap-pow.png" /></a>
        </div>
        <div class="page-header text-center">
            <h1><span class="fa fa-list-ul"></span> Lobby</h1>
        </div>

        <div class="row" ng-controller="rooms">
            <!-- GAME ROOMS LIST -->
            <div class="col-sm-8 text-center">
                <table class="table table-hover">
                    <thead align="center">
                        <th>Room Name</th>
                        <th># Players</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="room in rooms | orderBy: 'players': true"
                            ng-click="loadRoom(room);"
                            ng-href="/room/{{ room.name }}"
                            style="cursor: pointer; cursor: hand;">
                                <td>{{ room.name }}</td>
                                <td>{{ room.players }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <a href="/lobby" style="color: black"> <span class="fa fa-refresh"></span> Refresh</a>
            </div>

            <br>

            <div class="col-sm-4 text-center">
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form id="roomform" action="/lobby" method="post">
                    <label>Make your own room!</label>
                    <input type="text" class="form-control" name="roomname">
                    <br>
                    <button id="create" type="submit" class="btn btn-warning btn-md">Create Room</button>
                </form>

                <hr>

                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container" style="padding-top: 1cm; padding-bottom: 2cm">
            <div class="row">
                <div class="span12 text-center">
                    <p><span class="fa fa-copyright"></span>&copy; Cap-pow 2016</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var app = angular.module("lobby", []);

        app.controller("rooms", function ($scope, $http, $timeout, $window) {
            $scope.ajax = function () {
                $http.get($window.location.href + "/data").then(function (rooms) {
                    $scope.rooms = rooms.data;
                });

                $timeout($scope.ajax, 2000);
            }

            $scope.ajax();

            $scope.loadRoom = function (room) {
                $http.put("/room/" + room.name).then(angular.noop);

                sessionStorage.setItem("roomName", room.name);

                $window.location.href = "/room/" + room.name;
            }
        });
    </script>
</body>

</html>
