<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! Lobby</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link href="../css/login.css" rel="stylesheet">
    <link rel="icon" href="../images/logo.ico">
</head>

<body>
    <div class="container">
        <div id="logo">
            <a href="/"><img src="../css/images/logo.png" /></a>
        </div>
        <div class="page-header text-center">
            <h1><span class="fa fa-list-ul"></span> Lobby</h1>
        </div>

        <div class="row">
            <!-- GAME ROOMS LIST -->

            <div class="col-sm-8 text-center">
                <!-- IF WE WERE DOING EJS HERE -->
                <table class="table table-hover table-responsive">
                    <thead>
                        <th align="center">Room Name</th>
                        <th align="center"># Players</th>
                    </thead>
                    <tbody id="rooms">
                        <% if (rooms) { %>
                            <% for (var i = 0; i < rooms.length; i++) { %>
                                <tr class="clickable-row" data-url="/room/<%= rooms[i].name %>">
                                    <td>
                                        <%= rooms[i].name %>
                                    </td>
                                    <td>
                                        <%= rooms[i].players %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
                <hr>
                <a href="/lobby" style="color: black"> <span class="fa fa-refresh"></span> Refresh</a>
            </div>

            <div class="col-sm-4 text-center">
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form id="roomform" action="/lobby" method="post">
                    <label>Make your own room!</label>
                    <input type="text" class="form-control" name="roomname">
                    <br>
                    <button id="create" type="submit" class="btn btn-warning btn-md">Create Room</button>
                </form>

                <hr>

                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="span12 text-center">
                <footer><span class="fa fa-copyright"></span>&copy; Cap-pow 2016</footer>
            </div>
        </div>
    </div>
    <script>
        function ajax() {
            $.ajax({
                url: "/lobby/data",
                dataType: "json",
                cache: false,
                timeout: 5000,
                success: function(rooms) {
                    var str = "";

                    for (var i = 0; i < rooms.length; i++) {
                        str += "<tr>";
                        str += "<td>" + rooms[i].name + "</td>";
                        str += "<td>" + rooms[i].players + "</td>";
                        str += "</tr>";
                    }

                    $("#rooms").html(str);

                    for (var i = 1; i < rooms.length + 1; i++) {
                        // MAX_PLAYERS = 4
                        if (rooms[i - 1].players < 4) {
                            $("tr").eq(i).addClass("clickable-row")
                                .attr("data-url", "/room/" + rooms[i - 1].name);
                        } else {
                            $("tr").eq(i).prop("disabled", true);
                        }
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("error " + textStatus + " " + errorThrown);
                }
            });

            setTimeout(ajax, 2000);
        }

        $(document).ready(function() {
            $(".clickable-row").css('cursor', 'pointer').click(function() {
                sessionStorage.setItem("roomName", $(this).data("url").substring(6));
                window.document.location = $(this).data("url");
            });

            $("#create").click(function() {
                sessionStorage.setItem("roomName", $('input[name="roomname"]').val());
            });
        });

        $(document).ajaxSuccess(function() {
            $(".clickable-row").css('cursor', 'pointer').click(function() {
                sessionStorage.setItem("roomName", $(this).data("url").substring(6));
                window.document.location = $(this).data("url");
            });
        });

    </script>
</body>

</html>
