<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="icon" href="../images/logo.ico">

    <title>Cap-pow! Login</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="../css/login.css" rel="stylesheet">
</head>

<body>

    <div class="container">
            <div id="logo">
                <a href="/"><img src="../css/images/logo.png" /></a>
            </div>

            <div class="col-sm-6 col-sm-offset-3">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <%= message %>
                </div>
            <% } %>

            <!-- Change /index to /lobby -->
            <form class="form-signin" action="/login" method="post">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="fa fa-sign-in"></span> Sign in</button>
                <hr>
                <p>Don't have an account? <a href="/signup">Sign up here!</a></p>
            </form>
        </div>
    </div>
    <!-- /container -->
    <footer>
        <div class="container" style="padding-top: 1cm; padding-bottom: 2cm">
            <div class="row">
                <div class="span12 text-center">
                    <p><span class="fa fa-copyright"></span>&copy; Cap-pow 2016</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
