<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow!
        <%= roomname %>
    </title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <!--- FAVICON -->
    <link rel="shortcut icon" href="../favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="../favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../favicons/manifest.json">
    <link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="../favicons/mstile-144x144.png">
    <meta name="theme-color" content="#21bf73">
</head>

<body>
    <div class="container" ng-app="room" ng-controller="roomCtrl">

        <div id="logo">
            <a href="/"><img src="../images/cap-pow.png" /></a>
        </div>

        <div class="page-header text-center">
            <h1 style="color:white"><span class="fa fa-users"></span> <%= roomname %></h1>
            <a href="/lobby" class="btn btn-default btn-sm"><span class="fa fa-reply"></span> Exit</a>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-8 text-center">
                <table class="table table-responsive">
                    <thead>
                        <th align="center">Players</th>
                        <th align="center">Total score</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players | orderBy: 'username'">
                            <td>{{ player.username }}</td>
                            <td>{{ player.password }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <p ng-click="loadRoom()" style="cursor: pointer;color:white"><span class="fa fa-refresh"></span> Refresh</p>
            </div>
            <div class="col-lg-4 text-center">
                <h3 class="btn btn-default btn-lg"
                    ng-disabled="notReady()"
                    ng-click="startGame()"><span class="fa fa-play" ></span> Start the game!</h3>

                <h1 id="count">
                </h1>
            </div>
        </div>
    </div>
    <footer>
        <div class="container" style="padding-top: 1cm; padding-bottom: 2cm">
            <div class="row">
                <div class="span12 text-center">
                    <p style="color:white"><span class="fa fa-copyright"></span>&copy; Cap-pow 2016</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var app = angular.module("room", []);

        app.controller("roomCtrl", function ($scope, $http, $timeout, $window) {
            $scope.socket = io.connect("/room");

            $scope.socket.emit("joinRoom", {
                roomName: sessionStorage.getItem("roomName")
            });

            $scope.socket.on("countdown", function (data) {
                if (data.time) {
                    $("#count").text(data.time + " seconds to go!");
                } else {
                    $window.location.href = "/game";
                }
            });

            $scope.startGame = function () {
                $scope.socket.emit('countdown', {
                    roomName: sessionStorage.getItem("roomName")
                });
            }

            $scope.loadRoom = function () {
                $http.get($window.location.href + "/data").then(function (players) {
                    $scope.players = players.data;
                });
            }

            $scope.notReady = function () {
                return $scope.players.length < 1;
            }

            $scope.ajax = function () {
                $http.get($window.location.href + "/data").then(function (players) {
                    $scope.players = players.data;
                });

                $timeout($scope.ajax, 2000);
            }

            $scope.ajax();
        });
    </script>
</body>

</html>
