<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! <%= roomname %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }

    </style>
</head>

<body>
    <script src="../src/room.js"></script>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Room: <%= roomname %></h1>
            <a href="/lobby" class="btn btn-default btn-sm">Exit</a>
        </div>
        <div class="col-lg-12 text-center">
            <button>
                START THE GAME!
            </button>
        </div>
    </div>
</body>
</html>
