<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
         any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">

    <!--- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#21bf73">

    <title>Cap-pow! Sign up</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div id="logo">
            <a href="/"><img src="../images/cap-pow.png" /></a>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <div id="alert">
            </div>

            <form class="form-signin" onsubmit='return checkForm(this);'
                  action="/signup" method="post">
                <h2 class="form-signin-heading">Sign Up</h2>
                <p>Password must:</p>
                <ul>
                    <li>Be between 3 and 18 characters</li>
                    <li>Be different to your username</li>
                    <li>Not be blank</li>
                    <li>Only contain letters, numbers and underscores</li>
                </ul>

                <label for="inputUsername" class="sr-only">Username</label>

                <br>

                <input type="username" id="inputUsername" class="form-control"
                       name="username" placeholder="Username"
                       required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>

                <input type="password" id="inputPassword" class="form-control"
                       name="password" placeholder="Password" required>
                <input type="password" id="inputPassword" class="form-control"
                       name="pwdCheck" placeholder="Confirm Password" required>

                <br>

                <button class="btn btn-lg btn-primary btn-block"
                        type="submit">Register</button>

                <hr>

                <p>
                    Already have an account? <a href="/login">Log in here!</a>
                </p>
            </form>
        </div>
    </div>
    <!-- /container -->
    <footer>
        <div class="container" style="padding-top: 1cm; padding-bottom: 2cm">
            <div class="row">
                <div class="span12 text-center">
                    <p>
                        <span class="fa fa-copyright"></span>&copy; Cap-pow 2016
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        function checkForm(form) {
            if (form.username.value === "") {
                writeMessage("Username must not be blank.")
                return false;
            }

            re = /^\w+$/;

            if (!re.test(form.username.value)) {
                writeMessage("Username must contain only letters, "
                           + "numbers and underscores.");
                return false;
            }

            length = form.password.value.length;

            if (length < 3 || length > 18) {
                //alert("Password must be between 6 and 18 characters.");
                writeMessage("Password must be between 6 and 18 characters.");
                return false;
            }

            if (form.username.value === form.password.value) {
                writeMessage("Username and password must not be the same.")
                return false;
            }

            if (form.password.value != form.pwdCheck.value) {
                writeMessage("Passwords must match.");
                return false;
            }

            return true;
        }

        function writeMessage(message) {
            $("#alert").addClass("alert alert-danger");
            $("#alert").html("<button type='button'" +
                             "class='close'" + "data-dismiss='alert'"
                             + ">×</button>" + "<strong>Error:</strong> "
                             + message);
            $(".close").click(function () {
                $("#alert").html("");
                $("#alert").removeClass("alert alert-danger");
            });
        }
    </script>
</body>

</html>
