body {
	color: #000;
	text-align: center;
}

#logo {
    margin: 0 auto;
}

.btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
