#logo {
    position: relative;
    padding-bottom: 150px;
}

#logo img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    right: 0px;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

body {
    background: #F1F2B5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
