#logo {
    position: relative;
    padding-bottom: 150px;
}

#logo img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    right: 0px;
}

table {
    border:solid white 1px;
    border-radius:25px;
    -moz-border-radius:6px;
}

.table td {
    background: #E59761;
    text-align: center;
    color: aliceblue;
}

.table th {
    background: #E37722;
    text-align: center;
    color: aliceblue;
}

thead {
    background: #E37722;
}

body {
    background: #66B9BF;
}

#create {
    background-color: #E59761;
    color: aliceblue;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #EEAA7B;
}

